body {
    background: #005A31;
}

.navbar {
    background: rgb(120, 145, 21);
    border-color: #F3FAB6;
    padding-bottom: 15px;
}

#headFont {
    color: rgb(2, 70, 38);
}

#game {
    background: #F3FAB6;
    margin-top: 150px;
    padding: 20px;
    margin-bottom: 30px;
    border-style: round;
    border-radius: 10px;
    border-color: black;
}
.currency {
    background-color: rgb(120, 145, 21);
    border-style: round;
    border-radius: 10px;
}

.currency:hover {
    background-color: #005A31;
}

img {
    width: 75px;
    height: 75px;
}
